.box-usuario {
	color:#fff;	

}

.box-usuario .login {
	padding-top: 10px;
	margin-right: 15px;	
}

.box-usuario span {
	display: inline-block;
	vertical-align: middle;	
	margin-bottom: 5px;
}

.box-usuario .login .fa-user {
	font-size: 25px;
	padding: 4px 8px;
	background-color: #757575;
	border-radius: 25px;
}

.navbar-header {
	width:100%;
}

.flags {
	margin-left: 25px;
	margin-top: 10px;
}

.flags a {
	margin-left: 5px
}

.flags a img {
	width: 40px;
}

.sign-out {
	margin-top:10px;
	padding: 5px;
	margin-right: 10px;
	
}