<!-- Início do header -->
<header class="main-header">
  <nav class="navbar navbar-static-top navbar-inverse bg-inverse">

    <div class="navbar-header">
      <a class="navbar-brand"><b><i class="fa fa-angle-double-right "></i> {{ title }}</b></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <div *ngIf="is_logado=='true'" class="pull-left flags" >
        <a (click)="setLang('pt_BR')" ><img src="./assets/pt_BR.png"></a>
        <a (click)="setLang('en')"><img src="./assets/en.png"></a>
      </div>
      <div *ngIf="is_logado=='true'" class="box-usuario pull-right">        
          <div class="pull-left login"><i class="fa fa-user"></i> <span>{{usuario_id}}</span></div>
          <div class="pull-right"><a class="sign-out btn btn-danger" (click)="logout()"><i class="fa fa-power-off"></i></a></div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/diligencias">Diligências</a></li>
          <li><a routerLink="/gerencias">Gerências</a></li>
          <li><a routerLink="/equipes">Equipes</a></li>
       
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>
</header>
<!-- Fim do header -->
