<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ title }}
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary pull-left" (click)="voltar()">
						<i class="glyphicon glyphicon-arrow-left"></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" 
							[formGroup]="membroForm" 
							(ngSubmit)="incluir(membroForm.value)">

							<input class="hidden" type="text" name="Cod_Membro" formControlName="Cod_Membro">
							<input class="hidden" type="text" name="Cod_Equipe" formControlName="Cod_Equipe">
						
						<div class="form-group">
							<label class="control-label col-md-2" for="Nome">Nome:</label>
							<div class="col-md-10">
								<input class="form-control" type="text" name="Nome" formControlName="Nome">
								<div class="text-danger" *ngIf="!membroForm.controls['Nome'].valid && membroForm.controls['Nome'].touched">O campo Nome é obrigatório</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Mail" type="email">E-Mail:</label>
							<div class="col-md-10">
								<input class="form-control" type="text" name="Mail" formControlName="Mail">
								<div class="text-danger" *ngIf="!membroForm.controls['Mail'].valid && membroForm.controls['Mail'].touched">Conteúdo inválido</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Telefone">Telefone:</label>
							<div class="col-md-10">
								<telefone name="Telefone" formControlName="Telefone"></telefone>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Celular">Celular:</label>
							<div class="col-md-10">
								<telefone name="Celular" formControlName="Celular"></telefone>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Cargo">Cargo:</label>
							<div class="col-md-10">
								<input class="form-control" type="text" name="Cargo" formControlName="Cargo">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-1 col-md-offset-2">
								<button class="btn btn-success" [disabled]="membroForm.invalid">Salvar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>