<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	{{ title }}
	  </div>
	  <div class="panel-body">
	  	<div class="row">
				<form class="form-horizontal" [formGroup]="equipeForm" (ngSubmit)="filtrar(equipeForm.value)">
				<table class="table">
					<tbody>
						<tr>
							<td item-width="5%"><label class="control-label col-md-2" for="Nome_Equipe">Equipe:</label></td>
							<td item-width="55%">
								<input class="form-control" type="text" name="Nome_Equipe" formControlName="Nome_Equipe">
							</td>
							<td item-width="20%">
								<button class="btn btn-primary pull-left" type="submit" title="Filtrar">Buscar</button>
							</td>
							<td item-width="20%">
								<button class="btn pull-right" (click)="incluir();" type="button" title="Nova equipe">
										<i class="glyphicon glyphicon-plus"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
	  	</div>
		<div class="row table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Cod</th>
						<th>Nome</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let row of equipe">
						<td class="text-left">{{ row.Cod_Equipe }}</td>
						<td class="text-left">{{ row.Nome_Equipe }}</td>
						<td class="text-left">
							<button class="btn btn-warning fancybox" data-target="app-equipe-membros" (click)="membros(row)" Title="Adicionar Membros">
								<i class="fa fa-user-circle-o fa-2"></i>
							</button>
								<button class="btn btn-warning" (click)="alterar(row)" Title="Alterar">
									<i class="glyphicon glyphicon-pencil"></i>
								</button>
									<button class="btn btn-danger" (click)="excluir(row)" Title="Apagar">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
						</td>
					</tr>
					<tr *ngIf="equipe.length == 0">
						<td colspan="3">Sem Equipes cadastradas!</td>
					</tr>
				</tbody>
			</table>
		</div>
	  </div>
	</div>
</div>