<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="login-form">
				<form [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="email">Email:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input id="email" type="text" class="form-control" name="email" formControlName="email">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="senha">Senha:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input id="senha" type="password" class="form-control" name="senha" formControlName="senha">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary">Logar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>