.login-form {
	width: 320px;
	height: 200px;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px;
	background: #f9f9f9;
}

.login-form .btn-primary {
	width: 100%;
}