<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ title }}
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary pull-left" (click)="voltar()">
						<i class="glyphicon glyphicon-arrow-left"></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" [formGroup]="diligenciasForm" 
							(ngSubmit)="incluir(diligenciasForm.value)">

						<input class="hidden" type="text" name="Cod_Diligencia" formControlName="Cod_Diligencia">
						
						<div class="form-group">
							<label class="control-label col-md-2" for="Descricao">Descrição:</label>
							<div class="col-md-10">
								<input class="form-control" type="text" name="Descricao" formControlName="Descricao">
								<div class="text-danger" *ngIf="!diligenciasForm.controls['Descricao'].valid && diligenciasForm.controls['Descricao'].touched">O campo descrição é obrigatório</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Objetivo">Objetivo:</label>
							<div class="col-md-10">
								<textarea class="form-control" formControlName="Objetivo"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Compendio">Compêndio:</label>
							<div class="col-md-10">
								<textarea class="form-control" formControlName="Compendio"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Dt_Inicio">Início:</label>
							<div class="col-md-10">
								<input type="text" class="form-control" bsDatepicker formControlName="Dt_Inicio" />
								<div class="text-danger" *ngIf="!diligenciasForm.controls['Dt_Inicio'].valid && diligenciasForm.controls['Dt_Inicio'].touched">A data de início é obrigatória</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Dt_Fim">Fim:</label>
							<div class="col-md-10">
								<input type="text" class="form-control" bsDatepicker formControlName="Dt_Fim" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="Cod_Gerencia">Gerência:</label>
							<div class="col-md-10">
								<button class="btn pull-left" (click)="addGerencia()" type="button" title="Adicionar Gerência" [disabled]="maxGerencias>0">
									 <i class="glyphicon glyphicon-plus"></i> Adicionar
								</button>
								<label class="control-label pull-center" *ngIf="gerencia.length == 0"> &nbsp; Sem gerências cadastradas!</label>
								<label class="control-label pull-center" *ngIf="maxGerencias>0"> &nbsp; Número máximo atingido</label>
							</div>
						</div>
						<div class="form-group" *ngIf="alertsGerencia.length != 0">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" >
									<div class="alert alert-info">
										<div class="input-group" *ngFor="let alert of alertsGerencia;let indexGerencia=index">
										
											<select class="form-control" (change)="atualizaGerencias($event)" name="Cod_Gerencia-{{indexGerencia}}" formControlName="Cod_Gerencia">
													<option [value]="0" [selected]="true">Selecione...</option>
													<option *ngFor="let row of gerencia" [value]="row.Cod_Gerencia" >{{ row.Gerencia }}</option>
											</select>
											<span class="input-group-btn"> 
													<button class="btn btn-primary" type="button" (click)="removeGerencia(indexGerencia)" ><b>x</b></button> 
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>



						<div class="form-group">
							<label class="control-label col-md-2" for="Cod_Equipe">Equipe:</label>
							<div class="col-md-10">
								<button class="btn pull-left" (click)="addEquipe()" type="button" title="Adicionar Equipe" [disabled]="maxEquipe>0">
										<i class="glyphicon glyphicon-plus"></i> Adicionar
								</button>
								<label class="control-label pull-center" *ngIf="equipe.length == 0"> &nbsp; Sem equipes cadastradas!</label>
								<label class="control-label pull-center" *ngIf="maxEquipe>0"> &nbsp; Número máximo atingido</label>
							</div>
						</div>
						<div class="form-group" *ngIf="alertsEquipe.length != 0">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" >
									<div class="alert alert-info">
										<div class="input-group" *ngFor="let alert of alertsEquipe;let indexEquipe=index">
										
											<select class="form-control" name="Cod_Equipe[]" formControlName="Cod_Equipe">
													<option [value]="" [selected]="true">Selecione...</option>
													<option *ngFor="let row of equipe" [value]="row.Cod_Equipe" >{{ row.Nome_Equipe }}</option>
											</select>
											<span class="input-group-btn"> 
													<button class="btn btn-primary" type="button" (click)="removeEquipe(indexEquipe)" ><b>x</b></button> 
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
								<label class="control-label col-md-2" for="Cod_Cluster">Cluster/Unidade:</label>
								<div class="col-md-10">
										<button class="btn pull-left" (click)="addCluster()" type="button" title="Adicionar Cluster" [disabled]="maxCluster>0">
												<i class="glyphicon glyphicon-plus"></i> Adicionar
										</button>
										<label class="control-label pull-center" *ngIf="clusters.length == 0"> &nbsp; Sem clusters cadastrados!</label>
										<label class="control-label pull-center" *ngIf="maxCluster>0"> &nbsp; Número máximo atingido</label>
								</div>
							</div>
						<div class="form-group" *ngIf="alertsCluster.length != 0">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" >
									<div class="alert alert-info">
										<div class="input-group" *ngFor="let alert of alertsCluster;let indexCluster=index">
											<select class="form-control" name="Cod_Cluster[]" formControlName="Cod_Cluster">
												<option [value]="" [selected]="true">Selecione...</option>
												<option *ngFor="let row of clusters" [value]="row.Cod_Cluster" >{{ row.Nome_Cluster }}</option>
											</select>
											<span class="input-group-btn"> 
												<button class="btn btn-primary" type="button" (click)="removeCluster(indexCluster)" ><b>x</b></button> 
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2" for="Cod_Cluster">Anexo:</label>
							<div class="col-md-10">
									<button class="btn pull-left" (click)="addAnexo()" type="button" title="Adicionar Anexo">
										<i class="glyphicon glyphicon-plus"></i> Adicionar
									</button>
							</div>
						</div>
						<div class="form-group" *ngIf="alertsAnexo.length != 0">
							<div class="col-md-10 col-md-offset-2">
								<div class="form-group" >
									<div class="alert alert-info">
											<div class="input-group" *ngFor="let alert of alertsAnexo;let indexAnexo=index">
											<!--<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">-->
											<input type="file" name="Anexo" formControlName="Anexo">
											<span class="input-group-btn"> 
												<button class="btn btn-primary" type="button" (click)="removeAnexo(indexAnexo)" ><b>x</b></button> 
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="form-group">
							<div class="col-md-10 col-md-offset-5">
								<button class="btn btn-success" [disabled]="diligenciasForm.invalid">Salvar</button>
							</div>
						</div>

					</form>						
				</div>
			</div>
		</div>
	</div>
</div>