<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	{{ title }}
	  </div>
	  <div class="panel-body">
			<div class="row">
					<div class="col-md-12">
						<button class="btn btn-primary pull-left" (click)="voltar()">
							<i class="glyphicon glyphicon-arrow-left"></i>
						</button>
					</div>
			</div>
				<div class="row">
					<div class="col-md-2">
						<label class="control-label col-md-2">Equipe:</label>
					</div>
					<div class="col-md-4 col-md-offset-2">
						<div *ngFor="let item of equipe" class="text-left">
						
								<b>{{ item.Cod_Equipe }} - {{ item.Nome_Equipe }}
									</b>
						</div> 
					</div>		
					<div class="col-md-2">
						<button class="btn pull-right" title="Novo Membro" (click)="incluir()">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					</div>
				</div>
		<div class="row table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Cod</th>
						<th>Nome</th>
                        <th>Contato</th>
                        <th>E-Mail</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let row of membros">
						<td class="text-left">{{ row.Cod_Membro }}</td>
                        <td class="text-left">{{ row.Nome }}</td>
                        <td class="text-left">
                            {{ setContatos(row.Telefone,row.Celular) }}
                        </td>
						<td class="text-left">{{ row.Mail }}</td>
						<td class="text-left">
                            <button class="btn btn-warning" (click)="alterar(row)" Title="Alterar">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                            <button class="btn btn-danger" (click)="excluir(row)" Title="Apagar">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
						</td>
					</tr>
					<tr *ngIf="membros.length == 0">
						<td colspan="3">Sem Membros cadastrados!</td>
					</tr>
				</tbody>
			</table>
		</div>
	  </div>
	</div>
</div>