<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ title }}
      </div>
      <div class="panel-body">
        <div class="row">
          <form class="form-horizontal" [formGroup]="gerenciaForm" (ngSubmit)="filtrar(gerenciaForm.value)">
          <table class="table">
            <tbody>
              <tr>
                <td item-width="5%"><label class="control-label col-md-2" for="Gerencia">Gerência:</label></td>
                <td item-width="55%">
                  <input class="form-control" type="text" name="Gerencia" formControlName="Gerencia">
                </td>
                <td item-width="20%">
                  <button class="btn btn-primary pull-left" type="submit" title="Filtrar">Buscar</button>
                </td>
                <td item-width="20%">
                    <button class="btn pull-right" (click)="incluir();" type="button" title="Nova Gerência">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        </div>
      <div class="row table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Cod</th>
              <th>Gerência</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of gerencia">
              <td class="text-left">{{ item.Cod_Gerencia }}</td>
              <td class="text-left">{{ item.Gerencia }}</td>
              <td class="text-left">
                  <button class="btn btn-warning" (click)="alterar(item)" Title="Alterar">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="btn btn-danger" (click)="excluir(item)" Title="Apagar">
                    <i class="glyphicon glyphicon-trash"></i>
                  </button>
              </td>
            </tr>
            <tr *ngIf="gerencia.length == 0">
              <td colspan="3">Sem gerências cadastradas!</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>