<div class="wrapper">
  <app-header title="{{title}}" is_logado="{{ AuthenticationService.is_logado }}" usuario_id="{{AuthenticationService.usuario_id}}"></app-header>
  
  <div class="content-wrapper">
    <div class="container">
      <router-outlet></router-outlet>


    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Portal UMais e-Diligence</strong>
    </div>
  </footer>

</div>