<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ title }}
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary pull-left" (click)="voltar()">
						<i class="glyphicon glyphicon-arrow-left"></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" 
							[formGroup]="equipeForm" 
							(ngSubmit)="incluir(equipeForm.value)">

						<input class="hidden" type="text" name="Cod_Equipe" formControlName="Cod_Equipe">
						
						<div class="form-group">
							<label class="control-label col-md-2" for="Nome_Equipe">Nome:</label>
							<div class="col-md-10">
								<input class="form-control" type="text" name="Nome_Equipe" formControlName="Nome_Equipe">
								<div class="text-danger" *ngIf="!equipeForm.controls['Nome_Equipe'].valid && equipeForm.controls['Nome_Equipe'].touched">O campo descrição é obrigatório</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-1 col-md-offset-2">
								<button class="btn btn-success" [disabled]="equipeForm.invalid">Salvar</button>
							</div>
						</div>

					</form>						
				</div>
			</div>
		</div>
	</div>
</div>