<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ title }}
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary pull-left" (click)="voltar()">
              <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" 
                [formGroup]="gerenciaForm" 
                (ngSubmit)="incluir(gerenciaForm.value)">
  
              <input class="hidden" type="text" name="Cod_Gerencia" formControlName="Cod_Gerencia">
              
              <div class="form-group">
                <label class="control-label col-md-2" for="gerencia">Gerencia:</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="Gerencia" formControlName="Gerencia">
                  <div class="text-danger" *ngIf="!gerenciaForm.controls['Gerencia'].valid && gerenciaForm.controls['Gerencia'].touched">O campo nome é obrigatório</div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-1 col-md-offset-2">
                  <button class="btn btn-success" [disabled]="gerenciaForm.invalid">Salvar</button>
                </div>
              </div>
            </form>						
          </div>
        </div>
      </div>
    </div>
  </div>