/* You can add global styles to this file, and also import other style files */
button i, .btn i {
	padding:0 5px;
}

.icons i {
	padding:0 5px;
}

.main-header .navbar, .content-wrapper, .main-footer {
	margin-left:0;
}